@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

#posts {
  padding-bottom: 40px;
}

.post {
  margin: 0 auto;
  position: relative;
}

.post-button-edit {
  position: absolute;
  right: 10px;
  top: 10px;
}

.post-button-edit {
  color: grey !important;
}

.post-location, .post-date {
  font-family: 'Salsa', cursive;
}

.post-images {
  border: 2px solid #fff;
  overflow: hidden;
  height: 300px;
}

.post-images img {
  object-fit: cover;
  height: 300px;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
}

.slick-next {
  right: 0;
}

/* Modal */
#dropzoneDragArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  text-align: center;
  border: 1px dashed lightgrey;
  cursor: pointer;
}

#dropzoneDragArea i {
  transition: all 0.2s ease;
}

#dropzoneDragArea:hover  i {
  color: lightskyblue;
  transition: all 0.2s ease;
}

#dropzoneDragArea > * {
  pointer-events: none;
}

.dropzone-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dropzone-previews > div {
  border-radius: 5px;
  overflow: hidden;
}

.dropzone-previews .dz-details,
.dropzone-previews .dz-progress,
.dropzone-previews .dz-error-message,
.dropzone-previews .dz-success-mark,
.dropzone-previews .dz-error-mark {
  display: none;
}